<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="panel panel-primary">
        <h1 style="color:rgb(30,165,159); text-align:center; padding:10px" >{{{name}}}</h1>
      </div>
    </div>
  </div>
  <h2>
  {{price}}
      
  </h2>
  <h2>
  {{limit_day}}
      
  </h2>
  <h2>
  {{limit_week}}
      
  </h2>
  <h2>
  {{limit_month}}
      
  </h2>
</div>