<div class="container">
  <div style="display:flex; justify-content:flex-end">
    <a href="/patient/addPatient" style="color:white;"><button
        type="button"
        class="btn btn-primary waves-effect waves-light"
        style="margin-bottom: 10px;"
      >Thêm người liên quan</button></a>
  </div>

  <div class="row">
    <div class="col-md-12">
      <div class="panel panel-primary">
        <div class="panel-body">

          <table
            id="datatable-fixed-header"
            class="table table-striped table-bordered"
          >
            <thead>
              <tr>
                <th class="text-center">HỌ TÊN</th>
                <th class="text-center" style="width:15%">CMND</th>
                <th class="text-center" style="width:10%">NĂM SINH</th>
                <th class="text-center" style="width:35%">ĐỊA CHỈ</th>
                <th class="text-center">CƠ SỞ ĐIỀU TRỊ</th>
                <th style="width:15%">TRẠNG THÁI</th>
              </tr>
            </thead>

            <tbody>
              {{#each patient}}
                <tr>
                  <td> <a href="/patient/{{id}}">{{name}}</a></td>
                  <td>{{identity_card}}</td>
                  <td>{{birthdate}}</td>
                  <td>{{address}}</td>
                  <td>{{"treatment_place.name"}}</td>
                  <td>{{status}}</td>
                </tr>
              {{/each}}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>